/*Navbar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
}

nav .nav-left ul{
    display: flex;
    align-items: center;
    padding: 0 50px;
}

nav .nav-left ul img{
    list-style-type: none;
    margin-right: 30px;
    width: 90px;
    height: 60px;
}

nav .nav-left ul li{
    list-style-type: none;
    margin-right: 40px;
}

nav .nav-left ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    color: black;
}

nav .nav-left ul :active{
    color: orangered;
    font-weight: bold;
}

nav .nav-right button {
    text-decoration: none;
    background-color: #99A3A4;
    color: #F5CBA7;
    border: none;
    margin-left: 30px;
    margin-right: 50px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
/*Navbar*/

.flex-container {
    display: flex;
}
  
.flex-container > div {
    margin-top: 10px;
    margin-left: 10px;
}

/* Form Submission */
form{
    width: 350px;
    margin: 50px auto;
}


h1{
    text-align: center;
    margin-bottom: 50px;
}

.inputbox{
    width: 350px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 20px;
}

.labelbox{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.labelboxupload{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.startendlabel{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: -10px;
}

.startendbox{
    width: 175px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 20px;
    margin-left: -10px;
    margin-bottom: 12px;
}

textarea{
    width: 350px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 8px;
    resize: none;
    height: 100px;
    border-radius: 12px;
    box-shadow: 20px;

}

.inputcheckleft{
    margin-left: -10px;
    margin-bottom: 10px;
}

.inputcheckright{
    margin-left: 50px;
    margin-bottom: 10px;
}

input[type=file] {
    margin-top: 5px;
    width: 350px;
    height: 21px;
    color: #444;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #555;
  }

form button{
    background-color: orangered;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 265px;
    margin-top: 40px;
    margin-bottom: 30px;
}


/* Form Submission */

/* My Project CSS */
.abc{
    text-decoration: none;
    color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    height: 550px;
    margin-top: 50px;
    font-family: arial;
}

.card2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    max-width: 340px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.card3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    width: 340px;
    height: 240px;
    background-color: white;
    border-radius: 5px;
}

h3{
    text-align: left;
    margin-left: 10px;
}

p{
    text-align: left;
    margin-left: 10px;
}

.button1 {
    background-color:#34495E;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}

.button1:hover{
    opacity: 0.7;
}
  
  /* My Project CSS */

/* font awesome */
.fa {
    font-size: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

#icon{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 12px;
}

