/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
}

nav .nav-left ul{
    display: flex;
    align-items: center;
    padding: 0 50px;
}

nav .nav-left ul img{
    list-style-type: none;
    margin-right: 30px;
    width: 90px;
    height: 60px;
}

nav .nav-left ul li{
    list-style-type: none;
    margin-right: 40px;
}

nav .nav-left ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    color: black;
}

nav .nav-left ul :active{
    color: orangered;
    font-weight: bold;
}

nav .nav-right button {
    text-decoration: none;
    background-color: #99A3A4;
    color: #F5CBA7;
    border: none;
    margin-left: 30px;
    margin-right: 50px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
/* navbar */

.flex-container {
    display: flex;
    background-color: white;
}
  
.flex-container > div {
    background-color: white;
    margin-top: 100px; 
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
}

.flex-container > div > img {
    width: 310px;
    height: 420px;
    margin-left: -30px;
    margin-top: -30px;
    margin-right: 300px;
}

.imgbox{
    box-shadow: 5px 5px 50px rgba(250, 128, 114, 0.6);
    border-radius: 10px;
    width: 250px;
    height: 470px;
    background-color: white;
    margin-right: 50px;

}

.card{
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
    border: 1.5px solid #FFA07A;
    width: 1300px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
}

.desc{
    font-size: 20px;
    text-align: justify;
}

.flex{
    display: flex;
}

.download{
    margin-left: 40px;
    margin-top: 2px;
    text-align: justify; 
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 0px;
    font-size: 18px;
    font-family: Helvetica;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-linkedin {
    border-radius: 50%;
    background: black;
    color: white;
    margin-bottom: 50px;
    margin-top: 40px;
}
.fa-instagram {
    border-radius: 50%;
    background: black;
    color: white;
    margin-bottom: 50px;
    margin-top: 40px;
}
.fa-facebook {
    border-radius: 50%;
    background: black;
    color: white;
    margin-bottom: 50px;
    margin-top: 40px;
}
.fa-twitter {
    border-radius: 50%;
    background: black;
    color: white;
    margin-bottom: 50px;
    margin-top: 40px;
}

.contactbtn{
    width: 100px;
    height: 40px;
    border: 2px solid black;
    background-color: black;
    border-radius: 50px;
    color: white;
    font-weight: bolder;
    font-family: Helvetica;
    margin-top: 15px;
    cursor: pointer;
}

